<%= simple_form_for(@occupation) do |f| %>
  <%= f.error_notification %>

  <%#= Adding flash if image, content or file size is wrong, see omrails Paperclip, 12:00 %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  	<%#= Adding row height, see omrails Generate Pins Scaffold, 06:00 %>
    <%= f.input :description, as: :text, input_html: { rows: "3" } %>

		<%#= Adding image attachment icon see omrails Paperclip, 10:00 %>
    <%= f.input :image, label: "Upload an image" %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>