<%#= Adding occupations partial, see omrails Generate Pins Scaffold, 15:30 %>
  <tr>
  	<%#= Displaying image, see omrails Paperclip, 15:00 and 16:00%>
  	<td><%= image_tag occupation.image(:medium) %></td>

    <td><%= occupation.description %></td>
    <td><%= link_to 'Show', occupation %></td>

    <% if current_user == occupation.user %>
	    <td><%= link_to 'Edit', edit_occupation_path(occupation) %></td>
	    <td><%= link_to 'Destroy', occupation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>

  </tr>

