<div class="box">
<%#= Adding occupations partial, see omrails Generate Pins Scaffold, 15:30 %>
  	<%#= Displaying image, see omrails Paperclip, 15:00 and 16:00%>
  	<%= image_tag occupation.image(:medium) %>
  	Started by:<%= occupation.user.name %>

    <%= occupation.description %>
    <%= link_to 'Show', occupation %>

    <% if current_user == occupation.user %>
	    <%= link_to 'Edit', edit_occupation_path(occupation) %>
	    <%= link_to 'Destroy', occupation, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
</div>    


