<tr>
	<%= image_tag skill.image(:medium) %>
  Started by:<%= skill.user.name %>

	<td><%= skill.summary %></td>
  <td><%= skill.description %></td>
  <td><%= link_to 'Show', skill %></td>

  <% if current_user == skill.user %>
  	<td><%= link_to 'Edit', edit_skill_path(skill) %></td>
  	<td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>


</tr>


