<!DOCTYPE html>
<html>
	<head>
		<%#= Adds the code ' <title>Mntr me | <%= yield(:title) . . . to the pages%>
		<%#= full_title(yield) taken from application_helper.rb ledSee page 170%>
		<title><%= full_title(yield(:title)) %></title>

		<%#= Used to stop malicious attacks, see pg 170%>
			<%= stylesheet_link_tag "application", media: "all" %>
			<%= javascript_include_tag "application" %>
			<%= csrf_meta_tags %>
			<%#= Renders shim file in the layout folder, listing 5.8 %>	
			<%= render 'layouts/shim' %>
	</head>

	<body>
		<%#= Navigation bar%>	
		<%#= header tag indicates elements that should go at the top of the page%>	
		<%#= Renders header file in the layout folder, listing 5.8 %>	
		<%= render 'layouts/header' %>

		<div class="container">
			<%= yield %>
			<%#= Renders the footer file in the layout folder, listing 5.12%>	
			<%= render 'layouts/footer' %>
		</div>	
	</body>
</html>
